<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../../static/style.css">
    <title>Analisis de Texto con Text Blob - Eye Watch</title>
</head>
<body>
    {% block main %}
    {% endblock %}
    <div class="container">
        <form action="/volver" method="POST">
            <input type="submit" value="Volver">
        </form>
    </div>
</body>
</html>